body {
    background-color: lightblue;
    width: 100%;
}

#title {
    background-color: orange;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#instructions {
    background-color: tan;
    color: black;
    margin-bottom: 20px;
    height: 400px;
    padding-top: 20px;
}

#green-box {
    background-color: lightgreen;
    color: black;
}

#wins-losses {
    background-color: aqua;
    color: black;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#crystals {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
}

#total-score {
    background-color: teal;
    color: black;
    margin-bottom: 20px;
}

#total-score-int {
    background-color: teal;
    color: black;
    height: 150px;
    margin-bottom: 20px;
}

#yellow-crystal {
    width: 50px;
    height: 50px;
}

#purple-crystal {
    width: 50px;
    height: 50px;
}

#red-crystal {
    width: 50px;
    height: 50px;
}

#blue-crystal {
    width: 50px;
    height: 50px;
}


/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }
*/